@using CarRent.Domain.ViewModels.Car
@model CarRent.Domain.PagedLists.PagedList<CarViewModel>


@{
    ViewBag.Title = "Future Cars";
    Layout = "_Layout";
}


<header>
    <nav>
        <a href="~/Home/Index"><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/leo-rent-car-logo-1533114693.jpg" alt=""></a>
        <a href="" class="btn-burger"><i class="fa-solid fa-bars"></i></a>
        <ul class="main-nav container">
            <li><a href="" class="close">Close</a></li>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Car/GetCars">Our Car</a></li>
            <li><a href="~/Home/About">About</a></li>
            <li><a href="~/Home/Contact">Contact</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a href="~/Car/AllCar">All Cars</a></li>
                <li><a href="~/Users/AllUsers">All Users</a></li>
            }
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="~/Profile/Profile" class="my-account">My account</a>
        }
        else
        {
            <a href="~/Account/Login" class="my-account">My account</a>
        }
    </nav>
</header>
<main>
    <div class="our-car__title container">
        <h2>Future Cars</h2>
        <ul class="sm-nav">
            <li><a href="./index.html">Home</a></li>
            <li><i class="fa-solid fa-chevron-right"></i></li>
            <li><a href="./our-car.html">Future Cars</a></li>
        </ul>
    </div>
    <section class="our-car__shop container">
        <section class="our-car__filter">
            <h3>FUTURE CARS</h3>
            <ul class="our-car__filter-main">
                <li><a href="">Sports Cars</a></li>
                <li><a href="">Crossovers</a></li>
            </ul>
            <div class="filter-by">
                <h4>FILTER BY</h4>
                <div class="categoties">
                    <p>Categories</p>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Crossovers</label>
                        <span>(11)</span>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Sports Cars</label>
                        <span>(11)</span>
                    </div>
                </div>
                <div class="color">
                    <p>Color</p>
                    <div>
                        <div class="color-box w"></div>
                        <label for="">White</label>
                        <span>(11)</span>
                    </div>
                    <div>
                        <div class="color-box b"></div>
                        <label for="">Black</label>
                        <span>(11)</span>
                    </div>
                </div>
                <div class="brand">
                    <p>Brand</p>
                    <div>
                        <label for="">Ferrari</label>
                        <span>(11)</span>
                    </div>
                    <div>
                        <label for="">Lamborghini</label>
                        <span>(11)</span>
                    </div>
                </div>
            </div>
        </section>
        <div id="filters">
            <label for="brand">Brand:</label>
            <input type="text" id="brand"><br>

            <label for="model">Model:</label>
            <input type="text" id="model"><br>

            <label for="minPrice">Min Price:</label>
            <input type="number" id="minPrice"><br>

            <label for="maxPrice">Max Price:</label>
            <input type="number" id="maxPrice"><br>

            <label for="bodyType">Body Type:</label>
            <select id="bodyType">
                <option value="">Any</option>
                <option value="Sedan">Sedan</option>
                <option value="Hatchback">Hatchback</option>
                <option value="SUV">SUV</option>
                <!-- Добавьте другие варианты кузова здесь -->
            </select><br>

            <label for="minEngineVolume">Min Engine Volume:</label>
            <input type="number" id="minEngineVolume"><br>

            <label for="maxEngineVolume">Max Engine Volume:</label>
            <input type="number" id="maxEngineVolume"><br>

            <label for="transmissionType">Transmission Type:</label>
            <select id="transmissionType">
                <option value="">Any</option>
                <option value="Manual">Manual</option>
                <option value="Automatic">Automatic</option>
                <!-- Добавьте другие варианты типа трансмиссии здесь -->
            </select><br>

            <label for="color">Color:</label>
            <input type="text" id="color"><br>

            <label for="minMileage">Min Mileage:</label>
            <input type="number" id="minMileage"><br>

            <label for="maxMileage">Max Mileage:</label>
            <input type="number" id="maxMileage"><br>

            <label for="minYearOfProduction">Min Year of Production:</label>
            <input type="number" id="minYearOfProduction"><br>

            <label for="maxYearOfProduction">Max Year of Production:</label>
            <input type="number" id="maxYearOfProduction"><br>

            <label for="fuelType">Fuel Type:</label>
            <select id="fuelType">
                <option value="">Any</option>
                <option value="Gasoline">Gasoline</option>
                <option value="Diesel">Diesel</option>
                <option value="Electric">Electric</option>
                <!-- Добавьте другие варианты типа топлива здесь -->
            </select><br>

            <label for="availableForRent">Available For Rent:</label>
            <input type="checkbox" id="availableForRent"><br>

            <button id="applyFilters">Apply Filters</button>
        </div>

        <section class="our-car__shop-box">
            <div class="our-car__shop-box-top">
                <div class="top-filter">
                    <div class="top-filter__visible">
                        <a href=""><i class="fa-solid fa-table-cells-large active"></i></a>
                        <a href=""><i class="fa-solid fa-grip "></i></a>
                    </div>
                    <p>There are 11 products.</p>
                    <div class="top-filter__select">
                        <label for="">Short by:</label>
                        <select name="" id="">
                            <option value="1">Relevance</option>
                            <option value="2">Name, A to Z</option>
                            <option value="3">Name, Z to A</option>
                            <option value="4">Price, low to high</option>
                            <option value="5">Price, high to low</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="our-car__shop-card-box">
                @foreach (var car in Model.Items)
                {
                    <div class="car-card sm">
                        <div class="car-card__top">
                            <!-- Вывод изображения машины -->
                            @* <img src="@car.ImageUrl" alt="Car Image"> *@
                        </div>
                        <div class="car-card__text">
                            <!-- Вывод модели и названия машины -->
                            <h5>@car.Model - @car.Brand</h5>
                            <!-- Вывод остальной информации о машине -->
                            <p class="price">$@car.Price <span>/Day</span></p>
                            <ul>
                                <li>Body Type: @car.BodyType</li>
                                <li>Transmission Type: @car.TransmissionType</li>
                                <li>Speed: @car.MaxSpeed mph</li>
                            </ul>
                            <!-- Ссылка для просмотра деталей машины -->
                            <a href="~/Car/GetCar/@car.Id">VIEW DETAILS</a>
                        </div>
                    </div>
                }
            </div>
            <div class="our-car__shop-box-bottom">
                <p>Showing 1-8 of 11 item(s)</p>
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href=""><i class="fa-solid fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </section>

        <script>
            document.getElementById("applyFilters").addEventListener("click", function () {
                var filters = {
                    'Brand': document.getElementById("brand").value,
                    'Model': document.getElementById("model").value,
                    'MinPrice': parseFloat(document.getElementById("minPrice").value),
                    'MaxPrice': parseFloat(document.getElementById("maxPrice").value),
                    'BodyType': document.getElementById("bodyType").value,
                    'MinEngineVolume': parseFloat(document.getElementById("minEngineVolume").value),
                    'MaxEngineVolume': parseFloat(document.getElementById("maxEngineVolume").value),
                    'TransmissionType': document.getElementById("transmissionType").value,
                    'Color': document.getElementById("color").value,
                    'MinMileage': parseInt(document.getElementById("minMileage").value),
                    'MaxMileage': parseInt(document.getElementById("maxMileage").value),
                    'MinYearOfProduction': parseInt(document.getElementById("minYearOfProduction").value),
                    'MaxYearOfProduction': parseInt(document.getElementById("maxYearOfProduction").value),
                    'FuelType': document.getElementById("fuelType").value,
                    'AvailableForRent': document.getElementById("availableForRent").checked
                };

                //var pageIndex = 0; // Здесь нужно получить значение ID страницы
                //var pageSize = 10; // Здесь нужно получить значение количества элементов

                //filters.pageIndex = pageIndex;
                //filters.pageSize = pageSize;

                console.log(filters);
                var f = {'Brand': 'Muay'}
                fetch("/car/GetCars", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: f
                })
                    .then(response => {
                        console.log('eURA')
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Обрабатываем ответ от сервера
                        console.log(data);
                    })
                    .catch(error => {
                        console.log('EROR')
                        console.error("Error fetching filtered cars:", error);
                    });
            });
        </script>
    </section>
</main>