@model CarRent.Domain.ViewModels.Car.CarViewModel


<header>
    <nav>
        <a href="./index.html"><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/leo-rent-car-logo-1533114693.jpg" alt=""></a>
        <a href="" class="btn-burger"><i class="fa-solid fa-bars"></i></a>
        <ul class="main-nav container">
            <li><a href="" class="close">Close</a></li>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./our-car.html">Our Car</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
        <a href="./my-account.html" class="my-account active">My account</a>
    </nav>
</header>
<main>
    <section class="edit-car"> 
        <form method="post" class="container enctype="multipart/form-data" asp-controller="Car" asp-action="Save">
            <div class="row">
                <div class="input-box">
                    <p>Name</p>
                    @* <input type="text" asp-for="@Model.Name"> *@
                </div>
                <div class="input-box">
                    <p>Model</p>
                    <input type="text" asp-for="@Model.Model">
                </div>
            </div>
            <div class="input-box">
                <p>Description</p>
                <textarea id="" cols="44" rows="10" asp-for="@Model.Description"></textarea>
            </div>
            <div class="row">
                <div class="input-box">
                    <p>Price</p>
                    <input type="text" asp-for="@Model.Price">
                </div>
                <div class="input-box">
                    <p>Speed</p>
                    <input type="text" asp-for="@Model.Price">
                </div>
            </div>
@*             <div class="row">
                <div class="input-box">
                    <p>PiecesOfLuggage</p>
                    <input type="text" asp-for="@Model.PiecesOfLuggage">
                </div>
                <div class="input-box">
                    <p>Doors</p>
                    <input type="text" asp-for="@Model.Doors">
                </div>
            </div>
            <div class="row">
                <div class="input-box">
                    <p>MaxPassenger</p>
                    <input type="text" asp-for="@Model.MaxPassenger">
                </div>
                <div class="input-box">
                    <p>TypeCar</p>
                    <select name="" id="">

                        
                    </select>
                </div>
            </div>
            <div class="all-img">
                <p>All Img</p>
                <div class="img-box">
                    @foreach (var img in Model.CarPhotos)
                    {
                        <a href="~/Car/DeletImg/@img.Id">
                             <img src="~/img/@img.PhotoPath" alt=""> 
                        </a>
                    }
                </div>
                <a href="" class="add-img">Add Img</a>
            </div> *@
            <button type="submit">Edit</button>
        </form>
    </section>
</main>